ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li{
  flex: 1;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

@media print {
  .invoice{display: none}
}
